<div class='column is-12-mobile is-3-tablet is-3-desktop'>
  <div class='card has-background-success' id={{templateDay.id}}>
    <div class='card-content small-card has-text-light'>
      <h2 class='has-text-centered mb-3'>{{templateDay.day_of_week}}</h2>
      <p>{{templateDay.day_of_week}}</p>
    </div>
    <footer class='card-footer'>
      <a href='/entry' class='has-text-light has-text-centered'>Add to Workout</a>
    </footer>
  </div>
</div>