<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Tracker</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body class="has-background-dark">
  
      <nav class="navbar has-shadow is-success">
        <div class="navbar-brand">
          <a class="navbar-item">
            <div class="is-size-2-mobile is-size-1-desktop"> Workout Tracker</div>
            <img src="../assets/elephantproject2.png" alt="elephant working out logo" style="max-height: 90px" class="py-1 px-1">
          </a>
          
          <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>

        <div class="navbar-menu" id="nav-links">
        <!-- Conditionally render login or logout links -->
          <div class="navbar-end">
            {{#if logged_in}}
            <a href="/profile">Profile</a> |
            <button class="no-button" id="logout">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
          </div>
      </div>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      
      {{{ body }}}
      
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>

</html>
