{{#each workouts as |workout|}}
{{> entryDetails}}
{{/each}}
<div class='field'>
  <p class='control'>
    <button class='button is-rounded is-success' id='save-to-workout'>
      Submit
    </button>
  </p>
</div>