<div class="columns is-multiline is-flex is-justify-content-center mt-6">
{{#each workouts as |workout|}}
{{> entryDetails}}
{{/each}}
</div>
<div class='field is-flex is-justify-content-center mb-4'>
    <div class="">
    <button class='button is-rounded is-success is-large' id='save-to-workout'>
      Submit
    </button>
    </div>
</div>
