<section class="section">
        <div class="container is-flex">
            <div class="glider">
                <div class="glider-track">
                    <div class="glider-slide">
                        <div class="columns">
                            {{!-- Card --}}
                            {{#each templates as |template|}}
                            {{> templateDetails}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{{!-- current issue is that we have to have extra "cards" instead of the carousel looping. --}}
{{!-- https://www.wplogout.com/create-a-simple-carousel-slider-in-bulma/#2_Add_a_parent_div_element_with_an_ID_attribute --}}
      <script src='./js/homepage.js'></script>
      {{!-- https://www.youtube.com/watch?v=FijGmbJzPSM&list=PL4cUxeGkcC9iXItWKbaQxcyDT1u6E7a8a&index=13 --}}