<section class="section">
        <div class="container is-flex">
            <div class="glider">
                <div class="glider-track">
                    <div class="glider-slide">
                        <div class="columns">
                            <!-- card 1 -->
                            <div class="column is-12-mobile is-3-tablet is-3-desktop">
                                <div class="card has-background-success" id="sunday">
                                    <div class="card-content small-card has-text-light">
                                        <h2 class="has-text-centered mb-3">Sunday</h2>
                                        <p>Card 1</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="/entry" class="has-text-light has-text-centered">Add to Workout</a>
                                    </footer>
                                </div>
                            </div>
    
                            <!-- card 2 -->
                            <div class="column is-12-mobile is-3-tablet is-3-desktop">
                                <div class="card has-background-success" id="monday">
                                    <div class="card-content small-card has-text-light">
                                        <h2 class="has-text-centered mb-3">Monday</h2>
                                        <p>Card 2</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="/entry" class="has-text-light has-text-centered">Add</a>
                                    </footer>
                                </div>
                            </div>
    
                            <!-- card 3 -->
                            <div class="column is-12-mobile is-3-tablet is-3-desktop">
                                <div class="card has-background-success" id="tuesday">
                                    <div class="card-content small-card has-text-light">
                                        <h2 class="has-text-centered mb-3">Tuesday</h2>
                                        <p>Card 3</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="/entry" class="has-text-light has-text-centered">Add</a>
                                    </footer>
                                </div>
                            </div>
    
                            <!-- card 4 -->
                            <div class="column is-12-mobile is-3-tablet is-3-desktop">
                                <div class="card has-background-success" id="wednesday">
                                    <div class="card-content small-card has-text-light">
                                        <h2 class="has-text-centered mb-3">Wednesday</h2>
                                        <p>Card 4</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="/entry" class="has-text-light has-text-centered">Add</a>
                                    </footer>
                                </div>
                            </div>
    
                            <!-- card 5 -->
                            <div class="column is-12-mobile is-3-tablet is-3-desktop">
                                <div class="card has-background-success" id="thursday">
                                    <div class="card-content small-card has-text-light">
                                        <h2 class="has-text-centered mb-3">Thursday</h2>
                                        <p>Card 5</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="/entry" class="has-text-light has-text-centered">Add</a>
                                    </footer>
                                </div>
                            </div>
                            <!-- card 6 -->
                            <div class="column is-12-mobile is-3-tablet is-3-desktop">
                              <div class="card has-background-success" id="friday">
                                  <div class="card-content small-card has-text-light">
                                      <h2 class="has-text-centered mb-3">Friday</h2>
                                      <p>Card 6</p>
                                  </div>
                                  <footer class="card-footer">
                                      <a href="/entry" class="has-text-light has-text-centered">Add</a>
                                  </footer>
                              </div>
                          </div>
                          <!-- card 7 -->
                          <div class="column is-12-mobile is-3-tablet is-3-desktop">
                            <div class="card has-background-success" id="saturday">
                                <div class="card-content small-card has-text-light">
                                    <h2 class="has-text-centered mb-3">Saturday</h2>
                                    <p>Card 7</p>
                                </div>
                                <footer class="card-footer">
                                    <a href="/entry" class="has-text-light has-text-centered">Add</a>
                                </footer>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>


{{!-- current issue is that we have to have extra "cards" instead of the carousel looping. --}}
{{!-- https://www.wplogout.com/create-a-simple-carousel-slider-in-bulma/#2_Add_a_parent_div_element_with_an_ID_attribute --}}
      <script src='./js/homepage.js'></script>
      {{!-- https://www.youtube.com/watch?v=FijGmbJzPSM&list=PL4cUxeGkcC9iXItWKbaQxcyDT1u6E7a8a&index=13 --}}