<form class='login-form mt-4'>
  <div class='field'>
    <p class='control'>
      <input
        class='input is-rounded has-background-is-success-light'
        type='text'
        id='email-login'
        placeholder='Email'
      />
    </p>
  </div>
  <div class='field'>
    <p class='control'>
      <input
        class='input is-rounded has-background-is-success-light'
        type='password'
        id='password-login'
        placeholder='Password'
      />
    </p>
  </div>
  <div class='field'>
    <p class='control'>
      <button class='button is-rounded is-success' id='login' type='submit'>
        Login
      </button>
    </p>
  </div>
  <a href='/signup'>
    <div class='field'>
      <p class='control'>
        <button
          class='button is-rounded is-success'
          id='go-to-signup'
          type='button'
        >
          Go to Sign Up
        </button>
      </p>
    </div>
  </a>
</form>

<script src='./js/login.js'></script>