<form class='signup-form'>
  <div class='field'>
    <p class='control'>
      <input
        class='input is-rounded has-background-is-success-light'
        type='text'
        id='name-signup'
        placeholder='Name'
      />
    </p>
  </div>
  <div class='field'>
    <p class='control'>
      <input
        class='input is-rounded has-background-is-success-light'
        type='text'
        id='email-signup'
        placeholder='Email'
      />
    </p>
  </div>
  <div class='field'>
    <p class='control'>
      <input
        class='input is-rounded has-background-is-success-light'
        type='password'
        id='password-signup'
        placeholder='Password'
      />
    </p>
  </div>
  <div class='field'>
    <p class='control'>
      <button class='button is-rounded is-success' id='signup' type='submit'>
        Sign Up
      </button>
    </p>
  </div>
  <a href='/login'>
    <div class='field'>
      <p class='control'>
        <button
          class='button is-rounded is-success'
          id='go-to-login'
          type='button'
        >
          Go to Login
        </button>
      </p>
    </div>
  </a>
</form>

<script src='./js/signup.js'></script>