<div class='signup-form'>
  <div class='field'>
    <p class='control'>
      <input class='input' type='text' id='name-signup' placeholder='Name' />
    </p>
  </div>
  <div class='field'>
    <p class='control'>
      <input class='input' type='email' id='email-signup' placeholder='Email' />
    </p>
  </div>
  <div class='field'>
    <p class='control'>
      <input
        class='input'
        type='password'
        id='password-signup'
        placeholder='Password'
      />
    </p>
  </div>
  <div class='field'>
    <p class='control'>
      <button class='button is-success'>
        Sign Up
      </button>
    </p>
  </div>
</div>

<script src='./js/signup.js'></script>