<form>
  <div>
    <label>Day</label>
    <select id='workout-day'>
      <option>Sunday</option>
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
    </select>
  </div>
  <div>
    <label>Category</label>
    <select id='workout-category'>
      <option>Arms</option>
      <option>Chest</option>
      <option>Legs</option>
      <option>Back</option>
      <option>Dynamic Lifts</option>
      <option>Shoulders</option>
      <option>Core and Abs</option>
    </select>
  </div>
  <div>
    <input class='input' id='workout-name' type='text' placeholder='Workout' />
  </div>
  <div>
    <input class='input' id='workout-sets' type='text' placeholder='Sets' />
  </div>
  <div>
    <input class='input' id='workout-reps' type='text' placeholder='Reps' />
  </div>
  <div>
    <textarea
      class='textarea'
      id='workout-notes'
      placeholder='e.g. Hello world'
    ></textarea>
  </div>

  <div class='is-flex is-justify-content-center'>
    <button
      class='button is-rounded is-success mt-5'
      id='submit-template'
      type='submit'
    >
      Submit
    </button>
  </div>
</form>