.fullpage-bg {
  height: 100vh;
  width: 100%;
}

.small-card {
  height: 250px;
}


.entry-card {
  height: 160px;
  width: 275px;
}

.workout-select {
  height: 300px;
  width: 400px;
}

.template-input-width {
  width: 300px;
}